h1 {
  font-family: Verdana;
  text-align: center;
  margin-top: 10px;
}
p{
  font-weight: 700;
text-transform: capitalize;
}
.navbar {
  font-weight: 700;
}

h2 {
  font-family: Verdana;
  margin-top: 50px;
  text-align: center
}
label{
  display: block;
  margin-bottom: 8px;
}
body{
  background-color: aliceblue;
}